.options-cell {
    position: relative;
}

.options-icon {
    cursor: pointer;
}

.options-popup {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 5px;
    z-index: 1;
}

.options-cell:hover .options-popup {
    display: block;
}
